html,body{
  width: 100%;
  height: 100%;
  font-family: consolas,monospace;
  font-size:24pt;
  z-index: -999;
}
html,body,div,footer, header{
  margin: 0;
  padding: 0;
}
input, button, submit { outline:none; border:none; box-shadow: none }
body{
  overflow-x:hidden;
 position: absolute;
}
.line{
  opacity: 0.5;
  z-index: -997;
  pointer-events: none;
}
.tag{
  pointer-events: auto;
}
#champ{
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  z-index: -998;
  background-color: transparent;
}

#toolbox{
  outline: solid;
  outline-color: rgb(255,245,230);
  width: 100%;
  height: 99%;
  background-image: url(../data/fondsbeige.png);
  background-position: center;
background-attachment: fixed;
}
#console{
  pointer-events: none;
  font-size: 12pt;
  overflow-y:scroll;
  margin:0;
  top:0;
  left:0;
  opacity: 0.25;
  color: white;
  background-color: black;
  position: fixed;
  width: 50%;
  height: 50%;
display: none;
}
#macros{
  padding-top: 0.5%;
}

#macros button {
    outline: solid;
  outline-color: rgb(255,245,230);
  font-size: 12pt;
  font-family: sans-serif;
  background-color: white;
  float: left;
  list-style: none;
  width: 10%;
  height: 100%;
  color: rgb(230,230,230);

}
#macros button:hover{
  color:rgb(180,180,180);
  background-color: aliceblue;
}

#preview{
  pointer-events: none;
  background-color: aliceblue;
  outline: solid;
  outline-color:skyblue;
  outline-width: 1px;
  opacity: 0.33;
  position: absolute;
  z-index: 999;
}
.input{
position: absolute;
}
.input:hover{
  background-color: aliceblue;
}
#pad{
  color:rgb(104,104,104);
  outline: solid;
  outline-color: rgb(255,245,230);
  padding: 1%;
  margin-top: 0.5%;
  width: 96%;
  border:none;
  font-size: 14pt;
  background-color: white;
}
#pad:hover{
  background-color: aliceblue;
}
#pad:focus{
  background-color: white;
}