/*<A>*/
/*</A>*/
/*<B>*/
/*</B>*/
/*<C>*/
#cmd{
	position: fixed;
	font-size: 22px;
	padding: 0;
	padding: 22px;
	height: calc(100% - 48px);
	width: calc(100% - 44px);
	border: none;
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/*</C>*/
/*<D>*/
/*</D>*/
/*<E>*/
/*</E>*/
/*<F>*/
/*</F>*/
/*<G>*/
/*</G>*/
/*<H>*/
html,body{
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
	font-family: consolas,monospace;
}
/*</H>*/
/*<I>*/
/*</I>*/
/*<J>*/
/*</J>*/
/*<K>*/
/*</K>*/
/*<L>*/
/*</L>*/
/*<M>*/
/*</M>*/
/*<N>*/
/*</N>*/
/*<O>*/
/*</O>*/
/*<P>*/
#preview{
	pointer-events: none;
	position: fixed;
	margin: 0;
	padding: 0;
	opacity: 0.5;
	background-color: aliceblue;
}
/*</P>*/
/*<Q>*/
/*</Q>*/
/*<R>*/
/*</R>*/
/*<S>*/
#scene{
	background-color: rgba(255,0,0,0.1);
	position: fixed;
	width: 0;
	height: 0;
	top:0;
	left:0;
}
#sending #getting{
	opacity: 0;
	margin: 0;
	padding: 0;
	height: 0;
	width: 0;
	height: 0;
	pointer-events: none;
}
/*</S>*/
/*<T>*/
/*</T>*/
/*<U>*/
/*</U>*/
/*<V>*/
/*</V>*/
/*<W>*/
/*</W>*/
/*<X>*/
/*</X>*/
/*<Y>*/
/*</Y>*/
/*<Z>*/
/*</Z>*/