

body, html {
  height: 100%;
  width: 100%;
}

a {
  font-weight: bold;
  color: #2a0;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}



.site {
  top:0;
  left:0;
  position: fixed;
}

button{
  background-color: white;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

footer {
  position: absolute;
  font-family: sans-serif;
  background: #2a0;
  color: #fff;
  width: 100%;
  text-align: center;
}
.macro{
  width:9%;
}





